*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --grad-1: hsl(6, 100%, 80%);
  --grad-2: hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grey-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --dark-blue-2: hsl(229, 57%, 11%);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
}

.container {
  background: var(--dark-blue-2) url(./images/bg-desktop.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @media only screen and (max-width: 375px) {
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 600%;
    background-position: 30% center;
}
}

.comp {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 375px) {
      flex-direction: column;
      align-items: stretch;
      margin: 0 2.25rem;
      justify-content: center;
  }

  &__left {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 2.75rem 10rem 4rem 4rem;
    border-radius: 1rem;
    border-top-right-radius: 9rem;
    margin-right: 3rem;
    flex: 0 0 190px;
    box-shadow: -1rem 5rem 10rem var(--dark-blue-2);
    
    @media only screen and (max-width: 375px) {
        padding: 4rem 10rem 4rem 4rem;
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }


  }

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.75rem;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
  }

  &__logo {
    display: block;
    height: 100%;
  }

  &__icons-inline {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__icon-box {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    background-color: var(--dark-blue-2);
    border-radius: 1rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
  }

  &__info {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 3.5rem 4rem 4.5rem 4rem;
    border-radius: 1rem;
    
    flex: 0 0 435px;
    
    box-shadow: 1 5rem 10rem var(--dark-blue-2);
    
    position: relative;
    
    @media only screen and (max-width: 375px) {
        flex: 1 1 100%;
        padding: 4.5rem 4rem 4.5rem 4rem;
    }
}

&__notification {
    position: absolute;
    right: 4rem;
    top: -5rem;
    padding: 1.125rem 2.25rem;
    
    display: flex;
    background-color: white;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    
    @media only screen and (max-width: 375px) {
        top: 100%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        border-bottom-right-radius: 1rem;
    }
    
}

.rect {
    display: flex;
    align-items: center;
    
    strong {
        font-size: 3.5rem;
        margin-right: 1rem;
        color: var(--dark-blue-2);
        @media only screen and (max-width: 375px) {
            font-size: 4.5rem;
        }
    }
    
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--grey-blue);
    
    @media only screen and (max-width: 375px) {
        font-size: 1.2rem;
    }
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        
        border-top: 10px solid white;
        border-right: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        @media only screen and (max-width: 375px) {
            border: none;
        }
    }
}

&__usage {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--pale-blue);
    word-spacing: .02rem;
    margin-bottom: 1rem;
    @media only screen and (max-width: 375px) {
        margin-bottom: 2rem;
    }
}

  &__progress {
    width: 100%;
    height: 1.5rem;
    appearance: none;
    display: flex;
    margin-bottom: 1rem;
    
    &::-webkit-progress-bar {
        border-radius: 1rem;
        background-color: var(--dark-blue-2);
        box-shadow: inset 0 0 5rem var(--dark-blue-2);
    }
    
    &::-webkit-progress-value{
        border-radius: 1rem;
        margin: 1px;
        background: linear-gradient(90deg, var(--grad-1), var(--grad-2));
        position: relative;

    }
  }

  &__range {
    display: flex;
    justify-content: space-between;
    font-size: 1.025rem;
    font-weight: 700;
    letter-spacing: .05rem;
    color: var(--pale-blue);
    
    @media only screen and (max-width: 375px) {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
  }
}

progress[value]::-webkit-progress-value::after{

        content: "hello";
        position: absolute;
        height: 5px;
        width: 5px;
        background-color: orangered;
        border-radius: 50%;
        right: 1rem;
        top: 1rem;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  color: var(--grad-2);
}
.attribution a {
  color: var(--dark-blue-2);
}
